.container {
    margin-top: 10vh;
}

main {
    width: 100%;
}

.missionStatementWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    height: 65vh;
}

.imgWrapper {
    max-height: 100%;
    overflow: hidden;
    clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
    display: flex;
    justify-content: center;
    align-items: center;

}

.imgWrapper > img {
    height: 100%;
}

.statement {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}

.statement h1 {
    font-size: 3rem;
    font-weight: 900;
}

.statement p {
    font-size: 1.75rem;
    line-height: 2;
    max-width: 75%;
}

.statement .effect {
    color: var(--color_1);
    text-shadow: 0 0 3px var(--color_1);
    text-decoration: underline;
    font-weight: 900;
}

.divider {
    width: 75%;
    height: 6px;
    background-color: var(--color_1);
    border-radius: 1000px;
    margin: 5rem auto 3rem;
}

.theTeam {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    max-width: 1500px;
    padding: 3rem;
    margin: 0 auto 3rem;
}

.theTeam .title {
    flex-basis: 100%;
    text-align: center;
    font-size: 3rem;
}

.theTeam .card {
    display: flex;
    flex-direction: column;
    background-color: var(--color_3);
    padding: 1rem;
    border-radius: 8px;
    flex-basis: 45%;
    margin: 0 auto;
}

.theTeam .card h1 {
    font-size: 2.5rem;
    font-weight: 900;
}

.theTeam .card h1 .position {
    opacity: 0.75;
    font-size: 2rem;
}

.theTeam .card h1 .position::before {
    content: '(';
}

.theTeam .card h1 .position::after {
    content: ')';
}

.theTeam .card p {
    font-size: 1.4rem;
}

.theTeam .card img {
    max-width: 75%;
    max-height: 30vh;
    margin: 0 auto;
}

@media screen and (width <= 1250px) {
    .missionStatementWrapper {
        grid-template-columns: 1fr;
        height: unset;
    }
    
    .imgWrapper {
        clip-path: none;
        max-height: 60vh;
    }
    
    .imgWrapper > img {
        width: 100%;
        height: unset;
    }

    .divider {
        margin: 1rem auto 2rem;
    }

    .theTeam {
        gap: 1rem 3rem;
        padding: 3rem;
        box-sizing: border-box;
    }

    .theTeam .card {
        flex-basis: 100%;
    }
}

@media screen and (width <= 600px) {
    .container {
        margin: 0;
    }

    .statement h1 {
        font-size: 2.5rem;
    }

    .statement p {
        font-size: 1.25rem;
    }
}