html {
    overflow: hidden;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.contact_type {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
}

.contact_type:nth-child(odd) {
    background-color: var(--color_1);   
}

.contact_type:nth-child(odd) > * {
    color: var(--color_2);
}

.contact_type {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: clip-path 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.contact_type > h1 {
    scale: 1.3;
    transition: scale 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.contact_type:hover > h1 {
    scale: 1.5;
    cursor: pointer;
}

/* .contact_type > h1: */

.contact_type:nth-child(odd):hover > h1 {
    text-shadow: 0 0 0.25rem var(--color_2);
}


.contact_type:nth-child(even):hover > h1 {
    text-shadow: 0 0 0.25rem var(--color_1);
}

.left {
    clip-path: polygon(0 0, 85% 0, 100% 100%, 0 100%);
    padding: 0% 20% 10% 10%;
    /* grid-column: span 2; */
}

.middle {
    padding: 0% 5% 10% 5%;
}

.right {
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
    padding: 0% 10% 10% 25%;
}

.transitional {
    /* display: none; */
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    /* pointer-events: none; */
    background-color: var(--color_1);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.transitional[data-preClick] > * {
    display: none;
}

.transitional > .contact_section {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Website Complaints */
.contact_section.web_complaint {
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 1fr 10fr;
}

.contact_section.web_complaint > .title {
    grid-column: span 2;
    grid-row: span 1;
    text-align: center;
}

.web_complaint > .personalInfo {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-rows: 3rem 1fr;
    box-sizing: border-box;

}

.web_complaint > .personalInfo::after {
    content: '';
    
    height: 85%;
    width: 0.5vw;
    background-color: var(--color_1);
    filter: drop-shadow(0 0 2px var(--color_1));
    
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    translate: 50% -50%;
    border-radius: 1000px;
}

.personalInfo > h1, .complaintDetails > h1 {
    text-align: center;
    opacity: 0.8;
    font-size: 1.8rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 3rem 2rem;
    box-sizing: border-box;
    justify-content: flex-start;
    height: 100%;
    gap: 4%;
    flex-wrap: nowrap;

    overflow: scroll;
}

form > label {
    font-size: 1.75rem;
    display: flex;
    gap: 2%;
    align-items: center;
    flex-wrap: wrap;
}

form > label > input, form > label > select, form > label > textarea {
    outline: none;
    resize: none;
    border-radius: 5px;
    height: 1.75rem;
    font-size: 1.5rem;
    background-color: var(--color_3);
    flex-grow: 1;
    border: 2px solid var(--color_1);
    padding: 0.5% 1%;
}

form > label > textarea {
    height: 10rem;
    flex-basis: 100%;
    background-color: var(--color_3);
}

form > label > select {
    height: 2rem;
    padding: 0 2%;
}

form > label > input:active, form > label > select:active, form > label > input:focus, form > label > select:focus, form > label > textarea:focus, form > label > textarea:active   {
    background-color: var(--color_2);
}

button[type="submit"] {
    border-radius: 1000px;
    outline: none;
    border: 2px solid #fff;
    height: 2.5rem;
    width: 60%;
    align-self: center;
    font-size: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color_3);
}

button[type="submit"]:active, button[type="submit"]:focus, button[type="submit"]:hover {
    background-color: var(--color_2);
}

.complaintDetails {
    display: grid;
    width: 100%;
    height: 100%;
 
    display: grid;
    grid-template-rows: 3rem 1fr;
}












/*  */
.contact_section.suggestions * {
    color: var(--color_2);
}

.contact_section.suggestions {
    margin-top: 10vh;
    display: grid;
    width: 100%;
    grid-template-rows: 1fr 10fr;
    grid-template-columns: 1fr;
}

.contact_section.suggestions > .title {
    text-align: center;
}

.contact_section.suggestions > form {
    /* background-color: red; */
    width: 65%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    overflow-y: scroll;
}

.contact_section.suggestions > form::before, .contact_section.suggestions > form::after {
    content: '';
    display: block;
    width: 0.5vw;
    border-radius: 1000px;
    background-color: var(--color_2);
    filter: drop-shadow(0 0 3px var(--color_2));
    height: 85%;
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    z-index: 2;
}

.contact_section.suggestions > form::before {
    left: 1%;
}

.contact_section.suggestions > form::after {
    right: 1%;
}

.contact_section.suggestions textarea, .contact_section.suggestions input, .contact_section.suggestions select, .contact_section.suggestions button {
    background-color: var(--color_4);
    border: 2px solid var(--color_2);
}

.contact_section.suggestions textarea:focus, .contact_section.suggestions input:focus, .contact_section.suggestions select:focus, .contact_section.suggestions button:focus, .contact_section.suggestions textarea:active, .contact_section.suggestions input:active, .contact_section.suggestions select:active, .contact_section.suggestions button:active {
    background-color: var(--color_1);
}