body, html {
    overflow-x: hidden;
}

.container {
    box-sizing: border-box;
    padding: 2rem;
    margin-top: 7vh;
}

.shopFront {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
    padding: 2rem;
    box-sizing: border-box;
}


.shopFront > input {
    flex-basis: 100%;
    height: 5vh;
    color: var(--color_1);
    background-color: var(--color_3);
    border-radius: 10px;
    outline: 0;
    border: 3px solid var(--color_1) ;
    box-sizing: border-box;
    padding: 0.5rem;
    font-size: 1rem;
}

.item {
    background-color: var(--color_3);
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 16px;
    display: flex;
    flex-basis: 25%;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 3px 2px var(--color_1);
    position: relative;
}

.item > .imgWrapper {
    aspect-ratio: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.item > .imgWrapper > img {
    width: 100%;
}

.item > .description {
    -webkit-mask-image: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0)100%);
    max-height: 15vh;
    position: relative;
    overflow-y: scroll;
}

.item > .expand-Btn {
    background-color: var(--color_2);
    border-radius: 1000px;
    aspect-ratio: 1;
    width: 4vw;
    border: 3px solid var(--color_1);
    cursor: pointer;
    z-index: 10;
    margin: 2% 0;
}

.item > .expand-Btn > i {
    pointer-events: none;
}

.item.maxedDesc > .description {
    max-height: 80vh;
    -webkit-mask-image: none;
}

.item > .expand-Btn:hover {
    background-color: var(--color_3);
    border: 3px solid var(--color_4);
}

.item > .btnWrapper {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.item > .btnWrapper > a, .item > .btnWrapper > button {
    border-radius: 1000px;
    background-color: var(--color_2);
    padding: 1%;
    font-size: 1rem;
    outline: 0;
    flex-basis: 35%;
    border: 3px solid var(--color_1);
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

.item > .btnWrapper > a:hover, .item > .btnWrapper > button:hover {
    background-color: var(--color_3);
    border: 3px solid var(--color_4);
}

.shopFront > .btnWrapper {
    flex-basis: 100%;
}



.leafIcon {
    position: absolute;
    width: 5vw;
    z-index: 99;
    user-select: none;
    pointer-events: none;
    filter: var(--black_to_light_filter_shadow);
}

@media screen and (width <= 1000px) {
    .shopFront {
        padding: 2rem 2rem;
        gap: 3rem;
    }

}

@media screen and (width <= 750px) {
    .item {
        flex-basis: 80%;
        
    }
    .item > .description {
        max-height: 40vh;
    }

    .item > .expand-Btn {
        width: 15%;
    }

    

}

@media screen and (width <= 600px) {
    .container {
        margin-top: 0;
    }

    .shopFront {
        gap: 3rem;
    }

    .item > .expand-Btn {
        width: 20%;
    }
    
    .item {
        flex-grow: 1;
    }
}

@media screen and (width <= 400px) {
    .shopFront {
        padding: 2rem 0.5rem;
    }
}
